.alert-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.icono {
  animation: latido 2s infinite;
}
